<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<!-- <%@include file="../bootstrap_files.jsp"%> -->
<!-- <link rel="stylesheet" href="${contextPath}/css/srp_core.css" /> -->

<head>
<link rel="stylesheet" href="@{/css/srp_core.css}" />
<title>Search Student</title>
<meta charset="UTF-8" />

<!-- <style>
.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
</style> -->
<!-- <script type="text/javascript">
 $(document).ready(function() {
	  $("#javaScriptErrorMessage").hide();
	  });

	function validate(){
		debugger;
		 var firstName = $("#FirstName").val();
	     var lastName = $("#LastName").val();

	    if ( (firstName.length == 0 ) && (lastName.length == 0)) { 
			 $("#javaScriptErrorMessage").show(); 
			 return false; 
	    } else return true;
	 }

	$("input[type=submit]").click(function(e){
		debugger;
		 var firstName = $("#FirstName").val();
	     var lastName = $("#LastName").val();

	    if ( (firstName.length == 0 ) && (lastName.length == 0)){ 
			 $("#javaScriptErrorMessage").show(); 
	      }    
	}

	
	
//$(document).on()	
 
 </script>
 -->
</head>
<body>
	<div class="container mt-3">
		<form action="#" th:action=" @{/student/searchStudent}" method="post">
			<!-- 		<form:form class="form-inline" method="post"
			action="${contextPath}/student/searchStudent"
			modelAttribute="student" onsubmit="javascript:validate()" > -->
			<fieldset>
				<legend>Search by Student Name</legend>

				<div th:if="${loginError != null}"
					class="alert alert-danger alert-dismissible fade show">
					Wrong user or password
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>

				<!-- <c:if test="${not empty error}">
					<div class="alert alert-danger alert-dismissible fade show">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					<span th:text="#{error}" />
					</div>
				</c:if> -->

				<!-- 				<div id="javaScriptErrorMessage"
					class="alert alert-danger alert-dismissible fade show">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					${error}
				</div>
 -->

				<div class="input-group mb-3">
					<label for="FirstName" class="mr-sm-2">First Name : </label>

					<!-- 	<form:input path="FirstName" pattern="[A-Za-z ]{3,50}" size="10"
						class="form-control mr-sm-2" placeholder="First Name" /> -->

					<input name="FirstName" type="text" autofocus
						pattern="[A-Za-z ]{3,50}" size="10" class="form-control mr-sm-2"
						placeholder="First Name" />
						
						 <label for="LastName" class="mr-sm-2">Last Name : </label>

					<!-- <form:input path="LastName" pattern="[A-Za-z ]{1,50}" size="10"
						class="form-control mr-sm-2" placeholder="Last Name" /> -->

					<input name="LastName" type="text" pattern="[A-Za-z ]{1,50}"
						size="10" class="form-control mr-sm-2" placeholder="Last Name" />

					<div class="input-group-append">
						<input type="submit" value="Go" onclick="javascipt:validate()">
						<!-- <button class="btn btn-success" type="submit">Search</button> -->
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>